{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
        .containerLoginForm { display: flex; flex-direction: column; justify-content: flex-end; }
        .btnLogin { display: flex; justify-content: center; width: 200px; padding: 20px 0; margin: 50px 0; background-color: transparent; border: 1px solid #EBFF00; color: #EBFF00; border-radius: 10px 100px / 120px; transition-duration: 0.5s; }
        .btnLogin:hover { color: #02001B; background-color: #EBFF00; cursor: pointer; }
        .containerBtnLogin { display: flex; justify-content: flex-end; width: 100%;}
        .formInputLogin { border: none; border-bottom: 2px solid #EBFF00; background-color: transparent; outline: 0; color: #EBFF00; padding: 15px 0 10px 0; font-size: 0.8em; margin: 20px 0;}
        .containerTitle { margin: 120px 0 0 0; }
    </style>
    <div class="example-wrapper">
        <div class="containerTitle">
            <h1 class="titleLogin">
                Se connecter
            </h1>
        </div>
        <form method="post" class="containerLoginForm">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes déjà connecté sur le compte utilisateur : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
                </div>
            {% endif %}
            {# <label for="inputUsername">Nom d'utilisateur : </label> #}
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control formInputLogin" autocomplete="username" placeholder="Nom d'utilisateur" required autofocus>
            {# <label for="inputPassword">Mot de passe :</label> #}
            <input type="password" name="password" id="inputPassword" class="form-control formInputLogin" autocomplete="current-password" placeholder="mot de passe" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="containerBtnLogin">
                <button class="btnLogin" type="submit">Me connecter</button>
            </div>
        </form>       
    </div>


    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


{% endblock %}
