{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code {  padding: 2px 6px; }
    .chart-container { display: flex; justify-content: space-between; flex-direction: row; }
    .render-chart-p1 { width: 500px; }
    .render-chart-p2 { width: 500px; }
    .containerBtn { display: flex; justify-content: space-between; margin: 20px; }
    .titleSelectCrypto { text-align: center;}
    {# .containerListCrypto { display: flex; justify-content: center; flex-direction: row; align-items: center;} #}    
    .containerListCrypto { display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(2, 1fr); }
    .descIsNotConnected { font-family: "Arial", monospace, sans-serif; text-align: center; margin: 200px 0 100px 0;}
    .containerIsNotConnected { display: flex; justify-content: space-around; }
    .btnToLogin { display: flex; justify-content: center; width: 200px; padding: 20px 0; margin: 50px 0; background-color: transparent; border: 1px solid #EBFF00; color: #EBFF00; border-radius: 10px 100px / 120px; transition-duration: 0.5s; }
    .btnToLogin:hover { color: #02001B; background-color: #EBFF00; cursor: pointer; }
    .active { background-color: #EBFF00; color: #02001B; }
    .nameUserConnected { margin: 50px 50px 20px 0; font-size: 1.4em; }
    .nameUserConnected span { font-family: "RacingSansOne"; font-size: 1.5em; }
    .containerWinner { display: flex; text-align: center; flex-direction: column; }
    .btnFight { margin: 50px 0; }
    .winner { display: none; }
</style>

<div class="example-wrapper">
    {% if is_granted('ROLE_USER') %}
        {% if app.user %}
            <p class="nameUserConnected">Bienvenue, ✨ <span>{{ app.user.username }}</span> ✨</p>
            {% else %}
            {# Silence #}
        {% endif %}
            <div class="containerListCrypto">
                {% for arrayCrypto in arrayCryptos %} 
                    <div class="container-crypto-list">
                        <p class="paragraphCrypto">{{ arrayCrypto.label }}</p>
                        <img class="imgCryptoList" src="{{ asset('img/') }}{{ arrayCrypto.img }}" alt="">
                        <p class="paragraphCrypto">{{ arrayCrypto.valuesUSD }} $</p>
                    </div>
                {% endfor %}   
            </div>



            <div class="chart-container">
                <div class="containerChartPlayerOne">
                    <h4 class="titleSelectCrypto">Cryptomonnaie n°1</h4>
                    <div class="containerBtn">
                        {% for crypto in cryptos %}
                            <button id="{{ crypto }}" class="btnCryptoOne">{{ crypto }}</button>
                        {% endfor %}
                    </div>
                    {% for chart in chartPlayer %}
                        <div class="render-chart-p1">
                            {{ render_chart(chart, {'class': 'ContainerCryptoOne'}) }}
                        </div>
                    {% endfor %}
                </div>



                <div class="containerChartPlayerTwo">
                    <h4 class="titleSelectCrypto">Cryptomonnaie n°2</h4>
                    <div class="containerBtn">
                        {% for crypto in cryptos %}
                            <button id="{{ crypto }}Two" class="btnCryptoTwo">{{ crypto }}</button>
                        {% endfor %}
                    </div>
                    {% for chart in chartPlayerTwo %}    
                        <div class="render-chart-p2">
                            {{ render_chart(chart, {'class': 'ContainerCryptoTwo'}) }}
                        </div>
                    {% endfor %} 
                </div>
              

                
            </div>

            <div class="containerWinner">
                <h1 class="winner">
                   Le vainqueur <span class="winnerCrypto"></span> avec <span class="winPercentage"></span> %
                </h1>
                <button class="btnFight" id="btnFight">Fight</button>
            </div>
                
        {% else %}

        <p class="descIsNotConnected">Veuillez vous connecter pour continuer</p>
        <div class="containerIsNotConnected">
            <a class="btnToLogin" href="/login/">Me connecter</a>
            <a class="btnToLogin" href="/register/">M'inscrire</a>
        </div>
        {% endif %}
    </div>
<script type="text/javascript" src="/js/fight.js"></script>
{% endblock %}
