{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 95%; font: 18px/1.5 sans-serif; }
    .containerRegisterForm { display: flex; flex-direction: column; justify-content: flex-end; }
    .btnRegister { display: flex; justify-content: center; width: 200px; padding: 20px 0; margin: 50px 0; background-color: transparent; border: 1px solid #EBFF00; color: #EBFF00; border-radius: 10px 100px / 120px; transition-duration: 0.5s; }
    .btnRegister:hover { color: #02001B; background-color: #EBFF00; cursor: pointer; }
    .containerBtnRegister { display: flex; justify-content: flex-end; width: 100%;}
    .formInputRegister { border: none; border-bottom: 2px solid #EBFF00; background-color: transparent; outline: 0; color: #EBFF00; padding: 15px 0 10px 0; font-size: 0.8em; margin: 20px 0;}
    .title { margin: 120px 0 0 0; }
</style>
<div class="example-wrapper">
    <h1 class="title">Devenir membre</h1>

    {{ form_start(registrationForm) }}
    <div class="containerRegisterForm ">
        {# {{ form_label(registrationForm.username, 'Nom d\'utilisateur') }} #}
        {{ form_widget(registrationForm.username, {'attr': {'class': 'formInputRegister', 'placeholder': 'Nom d\'utilisateur'}}) }} 

        {# {{ form_label(registrationForm.plainPassword, 'Mot de passe') }} #}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'formInputRegister', 'placeholder': 'Mot de passe'}}) }}  
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Acceptez les conditions générales d\'utilisations pour continuer votre inscription.'
        }) }}        
        <div class="containerBtnRegister">
            <button type="submit" class="btnRegister">S'inscrire</button>  
        </div>
    </div>

    {{ form_end(registrationForm) }}
</div>

{% endblock %}
