// IMPORT FONTS FROM css/font/font.css
@import url('http://localhost:537/cryptofight/asset/css/font/font.css');
@font-face { 
    font-family: "ds_terminal";
    src: url('http://localhost:537/cryptofight/asset/css/font/ds_terminal.ttf') format("truetype");

}
@font-face {
    font-family: "RacingSansOne";
    src: url('http://localhost:537/cryptofight/asset/css/font/RacingSansOne-Regular.ttf');
}
// variable .scss
$yellow: #EBFF00;
$backgroundColor: #02001B;
$roboto: "Roboto", sans-serif;
$terminal: "ds_terminal", sans-serif;
$racing: "RacingSansOne", sans-serif;


// principal color
body {
    background-color: $backgroundColor;
    color: $yellow;
    margin: 0;
}


// 404.php
.container-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .page-title-404 {
        font-family: $racing;
        font-size: 88px;
        padding: 100px 0 150px 0;
    }
    .button {
        display: inline-block;
        padding: .75rem 1.25rem;
        border-radius: 10rem;
        color: $yellow;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-decoration: none;
        font-family: $racing;
        border: 3px solid $yellow;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $backgroundColor;
            border-radius: 10rem;
            z-index: -2;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: darken($yellow, 15%);
            color: $backgroundColor;
            transition: all .3s;
            border-radius: 10rem;
            z-index: -1;
        }
        &:hover {
            color: $backgroundColor;
            &:before {
                width: 100%;
            }
        } 
    }
    .container-cursor-pointer-404 {
        display: flex;
        padding-left: 15%;
        .cursor-pointer-404 {
            color: $yellow;
            transform: rotate(-20deg);
        }
    } 
}


$yellow: #EBFF00;
$blue: #02001B;
$dark-blue: #020014;

*{
    box-sizing: border-box;
    font-family: $racing;
}

%transition{
    opacity: 0;
    transition: 0.3s ease-in all;
}

%opacity{
    opacity: 1;
    transform: translateY(10px);
}

%hover{
    position: absolute;
    content: '';
    height: 4px;
    width: 0%;
    background-color: $blue;
    left: 0;
    border-radius: 2px;
    transition: 0.3s ease all;
}

%flex-stack{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-menu-burger {
    
    overflow-x: hidden;
    background-color: $blue;
    position: relative;
    min-height: 100vh;
    @extend %flex-stack;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
      h2{
        color: $yellow;
        font-size: 2rem;
        text-align: center;
        word-spacing: 0.2rem;
    }
}

.burger{
    position: absolute;
    top: 25px;
    right: 25px;
    color: $yellow;
    cursor: pointer;
    z-index: 1;
    display: flex;
    i{
        &:nth-of-type(1){
            display: block;
        }
        &:nth-of-type(2){
            display: none;
        }
    }
    &.burger-open{
        color: $yellow;
        i{
            &:nth-of-type(1){
                display: none;
            }
            &:nth-of-type(2){
                display: block;
            }
        }
    }
}


.navbar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $dark-blue;
    clip-path: circle(0px at 0 0px);
    transition: 0.5s ease all;
    .nav-links{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        li{
            list-style-type: none;
            margin: 3rem 0;
            &:nth-of-type(1){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.25s;
                }
            }
            &:nth-of-type(2){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.35s;
                }
            }
            &:nth-of-type(3){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.45s;
                }
            }
            &:nth-of-type(4){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.55s;
                }
            }
            &:nth-of-type(5){
                @extend %transition;
                &.nav-link-open{
                    @extend %opacity;
                    transition-delay: 0.65s;
                }
            }
            a {
                text-decoration: none;
                color: $yellow;
                font-size: 2.4rem;
                position: relative;
                text-transform: uppercase;
                letter-spacing: 1px;
                &::before{
                    @extend %hover;
                    top: -2px;
                }
                &::after{
                    @extend %hover;
                    bottom: -5px;
                }
                &:hover::before{
                    width: 100%;
                }
                &:hover::after{
                    width: 100%;
                }
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    &.nav-open{
        display: block;
        clip-path: circle(100%);
    }
    .img-responsive-logo-header {
        display: flex;
        justify-content: center;
        img {
            width: 15%;
            height: 15%;
        }
    }
}

.sliderContainer {
	position: relative;
	width: 100vw;
	margin: auto;
	overflow: hidden;
}
.sliderSlider {
	>* {
		flex-shrink: 0;
	}
	display: flex;
	width: 100%;
	height: 100vh;
	transition: all 0.3s ease-in-out;
}
.sliderImg {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.btn {
	position: absolute;
	width: 60px;
	height: 60px;
	font-size: 20px;
	top: 50%;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0);
	color: $yellow;
	transform: translateY(-50%);
	cursor: pointer;
	transition: background-color 0.2s ease;
	&:hover {
		background-color: rgba(255, 255, 255, 0);
	}
}
.nextBtn {
	right: 10px;
}
.prevBtn {
	left: 10px;
}
.navigator {
	position: absolute;
	z-index: 100;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	padding: 0 20px;
}
.navigatorChild {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.479);
	margin: 0 10px;
	cursor: pointer;
	transition: all 0.2s ease;
	&:hover {
		box-shadow: 0 0 5px #fff;
	}
}
.navigatorChildActive {
	background: $yellow;
}

.container-canvas {
    .row {
        display: flex;
    }
    .col {
        flex: 1; 
        padding: 1em;
        border: solid;
    }
}
