@font-face {
  font-family: "RacingSansOne";
  src: url("/css/font/RacingSansOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "neuropoly";
  src: url('/css/font/neuropoly.ttf') format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #02001B;
  color: #EBFF00;
  margin: 0;
}

button { 
  margin: 0 5px; 
  padding: 5px 15px; 
  background-color: transparent; 
  color: #EBFF00; 
  border: 1px solid #EBFF00; 
  border-radius: 12px; 
  transition-duration: 0.3s; 
  text-decoration: none;
  font-family: "RacingSansOne";
}

button:hover { 
  color: #02001B; 
  background-color: #EBFF00; 
}

a { 
  margin: 0 5px; 
  padding: 5px 15px; 
  background-color: transparent; 
  color: #EBFF00; 
  border: 1px solid #EBFF00; 
  border-radius: 12px; 
  transition-duration: 0.3s; 
  text-decoration: none;
  font-family: "RacingSansOne";
}

a:hover { 
  color: #02001B; 
  background-color: #EBFF00; 
}

.logo h1 {
  font-family: "RacingSansOne";
}

.titleBurgerMenu {
  font-family: "RacingSansOne";  
}

.container-crypto-list { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 100px;
  border: 4px solid #EBFF00;
  border-radius: 24px;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  transition-duration: 0.5s;
}

.container-crypto-list:hover { 
  background-color: #EBFF00; 
  color: #02001B;
}

.paragraphCrypto {
  font-family: "neuropoly", sans-serif;
}

.imgCryptoList {
  width: 75px;
  height: 75px;
}

.imgSliderCrypto {
  width:500px; 
  height:500px;
}

.header {
  width: 100vw;
  height: 75px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.header-inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0.25rem;
}
.nav-btn {
  position: absolute;
  display: inline;
  left: 10px;
  font-size: 1.5rem;
}

.close-btn {
  text-align: right;
  padding-right: 1rem;
}
.nav-btn,
.close-btn {
  cursor: pointer;
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background-color: white;
  padding-top: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: width 0.2s ease-in;
  z-index: 1000;
}
.navigation-list {
  height: 100%;
  position: relative;
  list-style-type: none;
  padding-left: 0;
  padding-top: 1rem;
}
.nav-item {
  padding: 0.5rem 0;
}
.nav-link {
  display: block;
  color: black;
  text-decoration: none;
  padding: 0.5rem 0;
  color: #EBFF00;
}

.navigation-active {
  width: 30vw;
    background-color: #02001B;
  box-shadow: 0 0 15px 10px #EBFF00;
}
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo h1 {
  font-weight: 300;
}
@media (max-width: 991.98px) {
  .navigation-active {
    width: 50vw;
  }
}

@media (max-width: 767.98px) {
  .navigation-active {
    width: 100vw;
  }
}

/*# sourceMappingURL=main.css.map */
