{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}

    <style>
        .adminLink { 
            text-align: center;
        }
    </style>

    <div class="containerCrudUserAdmin">
        <ul class="navigation-list">
            <li class="nav-item adminLink"><a href="/user/crud/" class="nav-link">Gérer les utilisateur</a></li>
        </ul>
    </div>

{# 

    ######   #######  ##     ## #### ##    ##  ######       ######   #######   #######  ##    ## 
    ##    ## ##     ## ###   ###  ##  ###   ## ##    ##     ##    ## ##     ## ##     ## ###   ## 
    ##       ##     ## #### ####  ##  ####  ## ##           ##       ##     ## ##     ## ####  ## 
    ##       ##     ## ## ### ##  ##  ## ## ## ##   ####     ######  ##     ## ##     ## ## ## ## 
    ##       ##     ## ##     ##  ##  ##  #### ##    ##           ## ##     ## ##     ## ##  #### 
    ##    ## ##     ## ##     ##  ##  ##   ### ##    ##     ##    ## ##     ## ##     ## ##   ### 
    ######   #######  ##     ## #### ##    ##  ######       ######   #######   #######  ##    ## 

 #}
{% endblock %}
