<form method="post" action="{{ path('app_user_crud_delete', {'id': user.id}) }}" onsubmit="return confirm('Est-tu sur de vouloir supprimer cette utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btnDelete">Supprimer l'utilisateur</button>
</form>
