{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

<style>
    .containerCrudUser { 
        display: flex;
        justify-content: center;
    }

    .informationTable { 
        padding: 10px 5px;
    }

</style>
<h1>Gestion des utilisateurs</h1>
<div class="containerCrudUser">
    

    <table class="table">
        <thead>
            <tr>
                <th class="informationTable">Id utilisateur</th>
                <th class="informationTable">Nom d'utilisateur</th>
                <th class="informationTable">Role de l'utilisateur</th>
                <th class="informationTable">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="informationTable">{{ user.id }}</td>
                <td class="informationTable">{{ user.username }}</td>
                <td class="informationTable">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="informationTable">
                    <a href="{{ path('app_user_crud_show', {'id': user.id}) }}">Regarder les informations</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
