{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur n°{{ user.id }}</h1>

    <style>
        .table { 
            display: flex;
            justify-content: center;
         }
    </style>

    <table class="table">
        <tbody>
            <tr>
                <th>Id utilisateur :</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom d'utilisateur :'</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Role :</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Mot de passe hashé : </th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_crud_index') }}">Retour à la liste</a>

    {{ include('user_crud/_delete_form.html.twig') }}
{% endblock %}
