<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {# <link rel="stylesheet" href="/bootstrap.min.css"> #}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        <header class="header">
        <div class="header-inner">
            <div class="nav-btn"><i class="fas fa-bars"></i></div>
            <nav class="navigation">
            <div class="close-btn"><i class="fas fa-times"></i></div>
            <ul class="navigation-list">
                <h1 class="titleBurgerMenu">Cryptofight</h1>
                <li class="nav-item"><a href="/" class="nav-link">Fight</a></li>
                <li class="nav-item"><a href="/metadamas" class="nav-link">Metadamas</a></li><br>
                {% if is_granted("ROLE_USER") %}
                    <h1 class="titleBurgerMenu">Mon profif</h1>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item"><a href="/admin" class="nav-link">Dashboard Administrateur</a></li>
                     {% endif %}
                        <li class="nav-item"><a href="/profile" class="nav-link">Mon Profil</a></li>
                        <li class="nav-item"><a href="/logout" class="nav-link">Se déconnecter</a></li>
                {% else %}
                    <h1 class="titleBurgerMenu">Nous rejoindre</h1>
                        <li class="nav-item"><a href="/login" class="nav-link">Se connecter</a></li>
                        <li class="nav-item"><a href="/register" class="nav-link">S'inscrire</a></li>
                {% endif %}
            </ul>
            </nav>
            <div class="logo">
                <h1>Cryptofight</h1>
            </div>
        </div>
        </header>
    {% block body %}
    
        {# Silence #}
    
    {% endblock %}

    {% block javascript %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
        {# Load JavaScript Vanilla #}
        <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
        {# Load FontAwesome & Bootstrap #}
        {# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> #}        <script src="https://kit.fontawesome.com/2ff6169768.js" crossorigin="anonymous"></script>
        {# Load Chart.js frameword #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>