{% extends 'base.html.twig' %}

{% block title %}Hello MetadamasController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 95%; font: 18px/1.5 sans-serif; }
    .containerNFT { display: grid; text-align: center; grid-template-columns: repeat(3, 1fr); grid-column-gap: 20px; grid-row-gap: 20px; }
    .containerToken { display: flex; justify-content: center; box-shadow: 0 0 15px 5px #EBFF00; align-items: center; flex-direction: column; border: 3px solid #EBFF00; gap: 20px; border-radius: 24px; margin: 20px; padding: 20px; max-width: 400px; transition-duration: 0.5s; }
    .containerToken:hover { background: #EBFF00; color: #02001B !important; }
    .imgNFT { width: 100px; height: 100px; box-shadow: 0 0 15px 5px #EBFF00; border-radius: 50%; margin: 20px; }
    .blockchain { width: 40px; height: 40px; }
    a { text-decoration: none; color: #EBFF00; font-size: 12px; } a:hover { color: #02001B;}
    .iconEther { border: none; }
</style>

<div class="example-wrapper">
    <div class="containerNFT">
    {% for data in metadataNftCollection %}
        <div class="containerToken">
            <p class="nameNFT">{{ data["name"] }}</p>
                <img src="{{ data["image"] }}" class="imgNFT" alt="NFT{{ data["edition"] }}">
                    <a class="iconEther" href="https://etherscan.io/address/{{ data["dna"] }}" target="_blank">
                <img class="blockchain" src="{{ data["blockchain"] }}" alt="blockchaineETH" srcset="">
            </a>
        </div>
    {% endfor %}
    </div>
</div>



<script src="{{ asset('js/metadamas.js') }}"></script>
{% endblock %}
