{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <style>
        .containerProfile { max-width: 800px; display: flex; justify-content: center;}
        .containerProfilChild { display: flex; flex-direction: column; }
        .titleProfile { font-family: "RacingSansOne"; }

    </style>

    <div class="containerProfile">
        <div class="containerProfilChild">
            <h1 class="titleProfile">Mon profil :</h1>
            <p> Nom d'utilisateur : {{ app.user.username }}</p>
        </div>  
    </div>

    

{% endblock %}
